* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: lighter;
    font-family: sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
    height: 100%;
}

.leftSide {
    background-color: #FCFAF8;
    width: 23%;
}

.rightSide {
    width: 77%;
    background-color: #FFFFFF;
}

.conent_View {
    margin: .5rem 3rem 0 3rem;
    height: fit-content;
    padding: 1rem;

}

.todo_view {
    padding: 20px;
}

.todoList {
    padding: 1rem;
}


.section {
    margin-top: 1rem;
}


.spin {
    margin: 3rem;
}

.details {
    padding: 0rem 2rem;
    font-size: .9rem;
    opacity: .8;

}

.details1 {
    padding: 0 3rem;
    font-size: .9rem;
    opacity: .8;

}

.desription {
    font-size: .9rem;
    padding-right: 1rem;
    opacity: .6;
}

/* .desription1 {
    font-size: .9rem;
    padding-left: 3rem;
    opacity: .6;

} */


.error {
    height: 100vh;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 4.8rem 0rem 3rem;
    font-size: 1.2rem;

}

.popover-item {
    display: flex;
    flex-direction: column;
    width: 15rem;

    Button {
        margin: .3rem;
        text-align: start;
        border: none;
    }
}

.form-page {
    border: 1px solid #B8B8B8;
    border-radius: 10px;
    padding: 5px;
}

.border-input {
    border: none;
}

.pickers {
    margin: .3rem .5rem;
    display: flex;
}

.form-btns {
    display: flex;
    justify-content: space-between;
    padding: .5rem;

}

.row {
    border: .1px solid #EEEEEE;
    margin-top: .4rem;
    margin-bottom: .2rem;

}

.section-row {
    width: 97%;
    margin-top: 0rem;
    margin-left: 1rem;
}

.project-container {
    padding: 1rem;
}

.project-btn {
    text-align: left;
    width: 100%;
    border: none;
    background: none;
    font-weight: bolder;
    margin-bottom: .8rem;
    padding-left: 1.7rem;
}

.projects-menu {
    height: 100%;
    border-right: 0;
    border: none;
    background: none;
}

.projects-sub-menu {
    display: 'flex';
    justify-content: 'space-between';
    align-items: 'center';
    width: 100%;
    font-weight: 'bolder';
    border: none;
    background: none;
}

.todoview-container {
    padding-top: .3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox-item {
    padding-right: 1rem;

}

.plus-btn {
    margin-top: .1rem;
    align-self: center;
    height: 40px;
    text-align: start;
}

.addbtn1 {
    margin-top: 1rem;
}

.plus-btn:hover {
    .text-color {
        color: red;
    }

    .plushover {
        background: red;
        border-radius: 10px;
        color: #ffffff;
    }
}

.color-dropdown {
    margin: 1rem 0 1rem 0;
}

.selector {
    padding: .5rem;
    width: 100%;
    border-radius: 5px;
    border-color: #DADADA;
    background-color: #FFFFFF;

}

.label-data {
    padding: 0 1rem 0 1rem;
    min-width: 10rem;
}

.project-picker {
    min-width: 9rem;
}

.buttons {
    margin-right: 10px;
}

.btn1 {
    margin: 8px;
}

.line-container {
    display: flex;
    opacity: 0;
    align-items: center;
}

.line {
    flex: 1;
    height: 1px;
    background-color: black;
    transition: width 0.3s ease;
}

.section-button {
    margin: 0 10px;
}

.line-container:hover {
    opacity: 1;

    .line {
        background-color: red
    }
}


.section-view-container {
    border-radius: 5px;
    margin: 1rem 0 1rem 0
}

.section-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between
}

.section-task-container {
    padding: .2rem 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.today {
    color: green;
}

.ant-popover-inner {
    margin-left: 2rem;
    width: fit-content;
    margin-right: .5rem;
}

.task-hover {
    opacity: 0;
}

.task-item:hover {
    .task-hover {
        opacity: 1;
    }
}

.label-item {
    padding-top: .3rem;
    display: flex;
    align-items: center;
    justify-content: space-between
}